@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Rubik:wght@300&display=swap');

body{
	font-family: "Rubik", arial, sans-serif;
	font-size: 14px;
}

button{
	outline: none !important;
    box-shadow: none !important;
}

a{
	text-decoration: none !important;
}

.heading-font{
	font-family: "Playfair Display", times, serif;
}

.line{
	display: grid;
	justify-items: center;
	padding-bottom: 1.4rem;
}

.line hr{
	width: 5rem;
}

.page-section{
	padding: 1.5rem 0;
}

.section-heading{
	font-size: 2rem;
}


/* LOADER START */
.no-scroll {
   overflow: hidden;
}

.loader {
	z-index: 2000;
	height: 100vh;
	width: 100vw;
	position: fixed;
	background: #fff;
	display: flex;	
	align-items: center;
	justify-content: center;
	transition: all 0.3s;
}

.loader:after {
	content: " ";
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	border: 6px solid #222;
	border-color: #222 transparent #222 transparent;
	animation: loader 1.2s linear infinite;
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
/* LOADER END */


/* HEADER SWIPER START */

.headerSwiper {
	height: 55vh;
}

.headerSwiper .swiper-slide {
	height: 55vh;
	padding-top: 55px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #fff;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
}

.headerSwiper .swiper-slide:before{
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, .5);
}

.headerSwiper .swiper-pagination-bullet{
	opacity: 1;
	background: #999;
}

.headerSwiper .swiper-pagination-bullet-active{
	background: #fff;
}

.header-caption{
	width: 70%;
}
/* HEADER SWIPER END */


/* MASTERHEAD START */
.masterhead-subheading{
	font-size: 1rem;
	margin-bottom: 2rem;
}

.masterhead-heading{
	font-size: 2.5rem;
	margin-bottom: 1rem;
}
/* MASTERHEAD END */


/* NAVBAR START */
.navbar{
	transition: all 0.3s;
}

.nav-scrolled{
	background-color: #1B1B1E;
}

.navbar-toggler span{
	text-decoration: none; 
}

.navbar_ul{
	background-color: red;
}

.offcanvas{
	transition: all 0.2s;
}

.offcanvas:after{
	content: '';
}
/* NAVBAR END */


/* OWL CAROUSEL START */
.owl-stage{
	height: 600px;
}

.owl-stage-outer{
	height: 400px;
}

.owl-nav{
    position: relative;
    /*bottom: 10rem;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 1rem;
}
/*.owl-prev{
	position: relative;
	right: 3rem;
}
.owl-next{
	position: relative;
	left: 3rem;
}*/
/* OWL CAROUSEL END */


/* ROOMS SECTION START*/
.room-button-container{
	display: flex;
	justify-content: space-evenly;
}

.room-button-container a{
	font-size: 14px;
}

.room-item{
	width: 70%;
	margin: 15px 0 10px 53px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.owl-item:hover .room-item{
	transform: scale(1.05);
	/*box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);*/
}

.room-item button{
	border: none;
	padding: 0;
}

.room-item img{
	background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    object-fit: cover;
    position: relative;
    height: 150px;
    overflow: hidden;
}

.details{
	box-shadow: 0px 15px 18px -17px rgba(0, 0, 0, 0.07);
    background: #fff;
    padding: 20px;
    height: 200px;
}

.details ul {
	margin: 0 0 30px 0;
	padding-left: 0;
}

.room-description, .masterhead-subheading{
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	display: -webkit-box;
}

.room-price{
	font-size: 1.4rem;
	padding-bottom: 1rem;
}

.pernight-text{
	font-size: 14px;
}

.room-description{
	margin-bottom: 0.5rem !important;
}
/* ROOMS SECTION START*/


/* FOOTER START */
.address{
	text-decoration: none;
}

.address p small:hover{
	color: #fff;
}

footer small, footer .social-icon{
	color: #aaa;
}
/* FOOTER END */


@media (max-width: 860px){
	.masterhead-subheading{
		font-size: 0.8rem;
	}

	.masterhead-heading{
		font-size: 2.3rem;
	}
}


@media (max-width: 516px){
	.masterhead-subheading{
		font-size: 0.9rem;
		overflow: hidden;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		display: -webkit-box;
	}

	.masterhead-heading{
		font-size: 2rem;
	}
}
